@font-face {
  font-family: "LXGWWenKaiScreen";
  src: url("/fonts/LXGWWenKaiScreen.ttf") format("truetype");
}

@font-face {
  font-family: "qiji";
  src: url("/fonts/qiji.ttf") format("truetype");
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

/* body{
  font-family:"Times New Roman", "SimSun",Candara, Calibri, Arial, sans-serif;
} */

body{
  font-family:"LXGWWenKaiScreen", Candara;
}

code {
  font-family: "SourceCodePro";/*,"Consolas"*/
  font-size: 85%;
}



